rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Imagens de cartas públicas
    match /cards/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // Imagens de perfil ou uploads de usuários
    match /users/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
